{% extends "base.html" %}
{% block content %}
    <h1 style="color:rgb(15, 11, 41);">Add Blog Entry</h1>
    <br>
    <form method='post'>
        <label style="color:rgb(117, 40, 5);">Title:
            <br>
            <input type="text" name='blog-title' value="{{blog_title}}" style="width:400px;">
        </label>
        <p class="error">{{title_error}}</p>
        <label style="color:rgb(117, 40, 5);">Blog Entry:
            <br>
            <textarea name="blog-entry" style="width:540px; height:125px;">{{blog_body}}</textarea>
        </label>
        <p class="error">{{body_error}}</p>
        <input type="submit" value='Add Entry'>
    </form>

{% endblock %}   